@import url(https://fonts.bunny.net/css?family=outfit:300,400,700);

:root {
  --bg-color: #111111;
  --text-color: #f6f6f6;
  --accent-color: #d4af37;
  --btn-bg: #f9f9f9;
  --btn-text: #000000;
  --btn-hover: #3a5a40;

  --padding: 20px;
  --radius: 10px;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.1rem;
}

strong {
  color: gold;
}

body {
  margin: 0;
  font-family: "outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: var(--bg-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
  height: 100%;
}

nav button {
  background-color: var(--btn-bg);
  color: var(--btn-text);
  border: none;
  padding: 10px 20px;
  border-radius: var(--radius);
  cursor: pointer;
  font-weight: 700;
  transition: background 0.3s, transform 0.1s;
}

nav button:hover,
nav button.active {
  background-color: var(--btn-hover);
  color: #f9f9f9;
  transform: scale(1.05);
}

#content {
  text-align: center;
  max-width: 800px;
  height: 90%;
  padding: var(--padding);
  margin-top: 4rem;
  background-color: var(--card-bg);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content img {
  max-width: 100%;
  width: 80%;
  height: 60%;
  object-fit: cover;
  border-radius: var(--radius);
  margin-bottom: 20px;
}

h1,
h2 {
  margin: 10px 0;
}

h1 {
  font-size: 2.5rem;
  color: var(--accent-color);
}

h2 {
  font-size: 2rem;
  color: var(--text-color);
}

p {
  line-height: 1.6;
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

ul li {
  font-size: 1.2rem;
  margin: 8px 0;
}

ul li span {
  font-weight: 700;
  color: var(--accent-color);
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 4rem;
}
ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}
.menuContainer {
  border: 1px solid #f6f6f6;
  border-radius: 1rem;
  padding: 4rem 8rem;
}
